
.logo_div{
    padding-top: 20px;
    border:1px solid #ddd;
}

.offers{
    float: left;
    position: relative;
}

.reloaded{
    float: right !important;
    margin:0;
}

.logo{
    text-align: center;
    font-weight:700;
    font-size: 32px;
    font-family: Georgia;
    padding-bottom:5px;
    text-decoration: none;
}

.logo:hover{
    text-decoration: none;
}

.logo_span{
    font-size: 22px;
    font-weight: 700;
}

.top_spans{
    font-weight: 200;
}

.brand{
    text-align: center !important;
    padding-left:0 !important;
    padding-right:0 !important;
    font-size: 20px;
    color:black !important;
    background-color: #eaeafe !important;
    border:1px solid #ddd;
    height: 58px;
}

.tel_tabs{
    float:left;
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #abb;
}

.device_stock{
    font-size: 16px;
    font-weight: 100;
}

a{
    color:black !important;
}
.chose_tel{
    color: black;
}

.chose_active:focus{
    border-bottom: 1px solid #fff;
    border-top:1px solid #abb;
    border-left:1px solid #abb;
    border-right:1px solid #abb;
}

.chose_tabs{
    color: black;
}

.zero{
    margin:0 !important;
    padding:0 !important;
}

.side_bar{
    text-align: left;
    border:1px solid #ddd;
    display:block;
    overflow-y: scroll;
}

.side_bar::-webkit-scrollbar{
    display:none;
}

.mobile_scroll_div{
    display:none !important; 
}

.search_input{
    width:80%;
    height: 35px;
    border:1px solid #ddd;
}

.search_input::placeholder{
    font-size: 14px;
}

.main{
    border:1px solid #ddd;
    padding-left: 5%;
    z-index: 9;
    position: relative;
}

.side_titles{
    font-size:22px;
    font-weight: 700;
    text-align: left;
    margin-left: 5% !important;
    margin-bottom: 5%;
    padding: 0;
    padding-bottom:8px !important;
}

.sort{
    max-width: 100%;
}

#sort_by{
    text-align: center;
    vertical-align: middle;
}

#cost{
    width:40px;
    height: 40px;
    color:black;
}

.page_div{
    display: block;
}

.filter_button{
    display:none;
}

.article{
    width: 200px;
    height: 300px;
    text-align: center;
}

.article:hover{
    background-color: #f2f2ff
}

.article img{
    width:95px;
    height:200px
}

.mobile_correct{
    display: none;
}

.device_model{
    color:black;
    font-weight: 700;
    font-size: 18px;
}

.device_price{
    color:rgb(54, 180, 49);
    font-size: 18px;
    font-weight: 700;    
}

.device_offer{
    color:rgb(70, 125, 197);
    font-size: 18px;
    font-weight: 500;
}

ul{
    list-style: none;
    margin: 0;
    padding-left:10%;
}

.page-link{
    border: none !important;
    font-size:20px;
}

@media(max-width:999px){

    .brand{
        display: none;
    }

    .side_bar{
        display: none;
    }

    .page_div{
        display: none;
    }

    .filter_button{
        display:block;
        width:60px;
        height: 60px;
    }

    .card-header{
        border:none !important;
        background-color: transparent !important;
    }
    .mobile_side_bar{
        display: block;
        background-color: #eaeafe;
    }

    .mobile_scroll_div{   
        width:250px;
        z-index:10;
        display: block !important;
        position: absolute !important;
    }

    .side_bar::-webkit-scrollbar{
        display:block;
    }

    .my_margin_top{
        margin-top:5%;
    }

}

@media(max-width:900px){




    /* #filters{
         position: fixed; 
        top: 0;
        height: 100%;
        background-color: white;
        transition: left 0.5s;
        left: -250px;
        overflow-x: hidden;
        overflow-y: auto;
    } */




    .sort{
        float: right;
    }



}

@media(max-width:768px){

    .offers{
        display: none;
    }

    .reloaded{
        display:none;
    }
}

@media(max-width:500){

    body{
     width: 100% !important;
    }

    .article{
        width:160px;
    }

    /* .mobile_correct{
        display: block;
        padding:100px;
        overflow: auto;
    } */

    /* .container{
        display:none;
    } */

    .content_div{
        width:100%;
    }
}